<app-navbar></app-navbar>


<div class="row">
  
  <div class="col-4">
    <app-sidebar></app-sidebar>

  </div>

  <div class="col-8">

    <div class="row align-item-center">

      <app-courses class="col-4"></app-courses>
      <app-ratebar class="col-4"></app-ratebar>
    </div>


    <div class="row align-item-center">

      <app-courses class="col-4"></app-courses>
      <app-ratebar class="col-4"></app-ratebar>
    </div>

    <div class="row align-item-center">

      <app-courses class="col-4"></app-courses>
      <app-ratebar class="col-4"></app-ratebar>

    </div>